#!/usr/bin/bash

export user="Xael"
export m="/mnt/c/Users/$user"

export qb="/mnt/e/qbit"
export de="/mnt/c/Users/$user/Desktop"
export pf='/mnt/c/Program Files'
export gh="https://github.com"
export dl="/mnt/c/Users/$user/Downloads"
export loc="/mnt/c/Users/$user/AppData/Local"
export gitme="git@github.com:illogikally"

alias de="cd /mnt/c/Users/$user/Desktop"
alias rnvim='sudo nvim -u ~/.config/nvim/init.vim'
alias vim="nvim"
alias ari="aria2c"
alias sit="sudoedit"
alias python="python3"
alias gsta="git stash push --keep-index"
alias sublime="/mnt/c/Program\ Files/Sublime\ Text\ 3/sublime_text.exe"
alias clip='clip.exe'
alias rg='rg -S'
alias paste='PowerShell.exe -NonInteractive -NoLogo -NoProfile -Command Get-Clipboard'
alias fd='fdfind'
alias vimdiff='nvim -d'
alias ydl='youtube-dl'
# alias ydl="youtube-dl -f bestvideo+bestaudio/best -o '$de/%(id)s.%(ext)s'"
# alias python="python3"
alias la="ls -a"
alias glg="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias glgb="glg --branches"
alias gst="git status"
alias sudow="sudo.exe"
alias pwsh=pwsh.exe
alias pwshc=pwsh.exe -Commmand
alias lms="/mnt/c/Users/Xael/.cache/lm-studio/bin/lms.exe"
